page-profile {

    .profile {
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-top: 15px;
    background-color: #dedcdc ;
}

// .profile .name {
//     color: #FFFFFF;
//     margin-top: 10px !important;
//     margin-bottom: 10px !important;
    

// }

.profile-picture {
    border-radius: 50%;
    height: 40%;
    width: 40%;
}

}
