page-emergencytype {
    .grid-basic-page {
           background-color:#dedcdc ;
  ion-col div {
  background-color: #F9FAFB;
    padding: 0px;
    border: 1px solid #ddd;
    background-color: white;
    border: 1px solid #e6e9ee;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
  }
  }

.type{
    width: 75px;
    height: 75px;
}
    .init{

        background-color:#dedcdc ;

}
}

